{% extends "tracking/base.html" %}

{% load widget_tweaks %}

{% block content %}
<br>
<br>
<br>
<ul1>
  <li><a href="{% url 'visit' %}"><b>Visit</b></a></li>
  {% if user.is_staff %}
  <li><a href="{% url 'createbusiness' %}"><b>Create Business</b></a></li>
  <li><a href="{% url 'search' %}"><b>Search</b></a></li>
  <li><a class="active" href="{% url 'checkinsearch' %}"><b>Date Search</b></a></li>
  {% endif %}
</ul1>

  <div class="column1" style="background-color:#aaa; margin-top:20px">

    <br>
    <h2 style="text-align: center; color:white;">Check-in Search</h2>
    <br>
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit" class="tn btn-light btn-lg" style="margin-left: 20px;">Search</button>
  </form>
    </div>

<div class="column1" style="background-color:#aaa;margin-top:20px">
  <table class="table table-bordered" >
    <thead>
      <tr>
        <th>Date Checkin</th>
        <th>Business_id</th>
        <th>Username</th>
        <th>is_in</th>
      </tr>
    </thead>
    <tbody>
      {% for item in filter.qs %}
        <tr>
          <td>{{ item.datetime }}</td>
          <td>{{ item.business_id }}</td>
          <td>{{ item.user_id }}</td>
          <td>{{ item.record_type }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
